<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
<title>project</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="btn btn-primary"><a href="http://127.0.0.1:8000" class="text-white">Show the table</a></button>
    <button class="btn btn-primary"><a href="http://127.0.0.1:8000/price_update" style="color: white;">Data from the exchange</a></button>
    <button class="btn btn-primary"><a href="http://127.0.0.1:8000/request" class="text-white">Add an item to the database</a></button>
  </div>
</nav>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<main class="container">{% block content%} {% endblock %} </main>

</body>
</html>